*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    background-color: #FEFAF6;
    color:#102C57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 20px; */
    background-color: #102C57;
    border-radius: 5px;
}

form input{
    width: 30vw;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 20px;
    color: #ffffff;
}

::placeholder{
    font-family: "Poppins";
    color: #ffffff;
}

form button{
    border: none;
    color: #ffffff;
    background-color: #DC6B19;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#show-more-btn{
    border: none;
    color: #ffffff;
    background-color: #DC6B19;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    margin-bottom: 50px;
}

#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


@media only screen and (max-width: 600px) {
    #search-result{
        grid-template-columns: 1fr;
    }
    form input{
        width: 60vw;
    }
  }